.header {
    background-color: #1860B2;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: solid 2px white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    width: 90px;
    transition: transform 0.3s;
}

.logo img:hover {
    transform: scale(1.05);
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-btn {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s;
}

.nav-btn:hover {
    color: #ddd;
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    transition: transform 0.3s;
}

.user-image:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
    }
}