/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1860B2 !important;
}

.content-wrapper {
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.sidebar.open+.content-wrapper {
    transform: none;
}