<div class="container mt-5">
  <div class="container-white p-3">
    <h2 class="text-center fw-bold">Modificar Clase</h2>

    <div class="card shadow-sm p-4 bg-white">
      <div class="mb-3">
        <label class="form-label fw-semibold">Día de la clase:</label>
        <input type="text" class="form-control shadow-sm" [value]="clase.horario.diaSemana" disabled>
      </div>

      <div class="mb-3">
        <label class="form-label fw-semibold">Hora de la clase:</label>
        <input type="time" class="form-control shadow-sm" [value]="clase.horario.horaInicio" disabled>
      </div>

      <form (ngSubmit)="guardarCambios()">
        <div class="mb-3">
          <label for="nombre_clase" class="form-label fw-semibold">Nombre de la clase:</label>
          <input type="text" id="nombre_clase" name="nombre_clase" class="form-control shadow-sm"
            [(ngModel)]="clase.nombreClase" required>
        </div>

        <div class="mb-3">
          <label for="descripcion" class="form-label fw-semibold">Descripción:</label>
          <textarea id="descripcion" name="descripcion" class="form-control shadow-sm" [(ngModel)]="clase.descripcion"
            rows="4" required></textarea>
        </div>

        <div class="mb-3">
          <label for="categoria" class="form-label fw-semibold">Categoría:</label>
          <input type="text" id="categoria" name="categoria" class="form-control shadow-sm"
            [(ngModel)]="clase.categoria" required>
        </div>

        <div class="mb-3">
          <label for="capacidad_maxima" class="form-label fw-semibold">Capacidad máxima:</label>
          <input type="number" id="capacidad_maxima" name="capacidad_maxima" class="form-control shadow-sm"
            [(ngModel)]="clase.capacidadMaxima" required>
        </div>

        <div class="mb-3">
          <label for="imagen" class="form-label fw-semibold">Imagen de la clase:</label>
          <div class="d-flex flex-column align-items-center">
            <img *ngIf="imagenUrl" [src]="imagenUrl" alt="Vista previa de la imagen"
              class="image-preview img-thumbnail mb-2">
            <input type="file" class="form-control shadow-sm" (change)="cargarImagen($event)">
            <button type="button" class="btn btn-danger btn-sm mt-2" *ngIf="imagenUrl"
              (click)="eliminarImagen()">Eliminar
              imagen</button>
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary shadow-sm me-2">Guardar Cambios</button>
          <button type="button" class="btn btn-secondary shadow-sm" (click)="cancelar()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!--
  <div class="container mt-5">
    <div class="container-white p-3">
      <h2 class="text-center fw-bold">Modificar Clase</h2>

      <div class="mb-3">
        <label class="form-label fw-semibold">Día de la clase:</label>
        <input type="text" class="form-control shadow-sm" [value]="clase.horario.diaSemana" disabled>
      </div>

      <div class="mb-3">
        <label class="form-label fw-semibold">Hora de la clase:</label>
        <input type="time" class="form-control shadow-sm" [value]="clase.horario.horaInicio" disabled>
      </div>

      <form (ngSubmit)="guardarCambios()">
        <div class="mb-3">
          <label for="nombre_clase" class="form-label fw-semibold">Nombre de la clase:</label>
          <input type="text" id="nombre_clase" name="nombre_clase" class="form-control shadow-sm"
            [(ngModel)]="clase.nombreClase" required>
        </div>

        <div class="mb-3">
          <label for="descripcion" class="form-label fw-semibold">Descripción:</label>
          <textarea id="descripcion" name="descripcion" class="form-control shadow-sm" [(ngModel)]="clase.descripcion"
            rows="4" required></textarea>
        </div>

        <div class="mb-3">
          <label for="categoria" class="form-label fw-semibold">Categoría:</label>
          <input type="text" id="categoria" name="categoria" class="form-control shadow-sm"
            [(ngModel)]="clase.categoria" required>
        </div>

        <div class="mb-3">
          <label for="capacidad_maxima" class="form-label fw-semibold">Capacidad máxima:</label>
          <input type="number" id="capacidad_maxima" name="capacidad_maxima" class="form-control shadow-sm"
            [(ngModel)]="clase.capacidadMaxima" required>
        </div>

        <div class="mb-3">
          <label for="imagen" class="form-label fw-semibold">Imagen de la clase:</label>
          <div class="d-flex flex-column align-items-center">
            <img *ngIf="imagenUrl" [src]="imagenUrl" alt="Vista previa de la imagen"
              class="image-preview img-thumbnail mb-2">
            <input type="file" class="form-control shadow-sm" (change)="cargarImagen($event)">
            <button type="button" class="btn btn-danger btn-sm mt-2" *ngIf="imagenUrl"
              (click)="eliminarImagen()">Eliminar
              imagen</button>
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary shadow-sm me-2">Guardar Cambios</button>
          <button type="button" class="btn btn-secondary shadow-sm" (click)="cancelar()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
-->